# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Flask
instance/

# SQLite
*.db
*.sqlite
*.sqlite3
*.db-journal
*.db-shm
*.db-wal

# Environment variables
.env

# Editor and operating system
.DS_Store
Thumbs.db
.vscode/